
.friend-row{
    p{
        margin: 10px !important;
        font-size: 2rem;
    }

    a{

        p{
            // margin-top: 2rem;
            // font-size: 2rem;
        }
    }

    button{
        
        a{
            text-decoration: none;
        }
    }
}

